<!DOCTYPE html>
<html>
  <head>
    <title>Dette er siden for USERS</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body>
    <h1>Users Homepage</h1>
    <p>Welcome to <%= title %></p>
    <p>Da er det bare å skrive på noe, slik at det kommer opp på denne siden
    som i og for seg er Inex.html eller tilsvarende det</p>


  </body>
</html>
